<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box">
    <% newListItems.forEach(item => { %> 
      <div class="item">
        <form action="/delete" method="post">
          <div class="item" >
            <input name="checkbox" value="<%= item._id %>" type="checkbox" onChange="this.form.submit()">
          </div>
        </form>
        <p><%=  item.name  %></p>
      </div>
     <% }) %>
    


      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list">+</button>
      </form>
  </div>

<%- include("footer") -%>
